body{
  background-color: black;
  overflow: hidden;
  background: rgb(0, 0, 0); 
  background-image:linear-gradient(
      rgba(35, 30, 30, 0.322), 
      rgba(1, 1, 1, 0.45)
    ),
   url("https://cdn.pixabay.com/photo/2015/06/07/19/42/animal-800760_640.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#header{
  top : 0;
  left: 0;
  padding: 0rem;
  display: flex;
  width: 100%;
  background-color: black;
  z-index: 9999;
  position: fixed;
  border-bottom: 12px white;
  
}
#home{  
  position: sticky;
  left: 1400px;
}
#body1{
  margin-top: 70px;
  margin-right: 50px;
  font-family: "Exo 2", sans-serif;
  background-image:linear-gradient(
    rgba(10, 9, 9, 0.322), 
    rgba(28, 28, 28, 0.45)
  );
  color: rgb(213, 217, 221);
  margin-left: 30px;
  height: 660px;
}
h1{
  font-style: italic;
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: 'cursive'; 
  transition: transform 3s ease;
    
    
  }
  h1:hover{
    transform: scale(2);
  }
  
  h3{
    padding-left: 100px;
    padding-right: 100px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    font-weight: bolder;
    transition: transform 2s ease;  
  }
  h3:hover{
    transform: scale(1.2);
  }
  p{
    padding-left: 50px;
    padding-right: 100px;
    padding-bottom: 10px;
    font-size: medium;
    font-weight: 400;
    opacity: 0.5;
  }
  p:hover{
    opacity: 1;
  }
video{
  bottom: 500px;
  top: 70px;
  left:0 ;
  height: 570px;
  width: 500px;
  position: relative;
  text-align: right;

}
#bodies{
  display: flex;
}
